body{
    width: 600px;
    margin: auto;
}
#conteudo{
    width: 600px;
    height: 500px;
    background-color: #cccccc;
}

.alinhamento{
    text-align: start;
}
.titulo{
    color: #333333;
    font-size: 20px;
}

